<div class="container my-4">
  <div class="row justify-content-center">
      <div class="col-md-12">
          <div class="card bg-dark text-white">
              <div class="card-body">
                  <h1 class="card-title text-center">Filters.</h1>
                  <form (ngSubmit)="applyFilters()">
                    <div class="row g-3">
                      <div class="col-md-4">
                        <label for="input1" class="form-label">Filtro por Região</label>
                        <input type="text" class="form-control" id="input1" [(ngModel)]="filters.regiao" name="regiao">
                      </div>
                      <div class="col-md-4">
                        <label for="input2" class="form-label">Filtro por Espécie</label>
                        <input type="text" class="form-control" id="input2" [(ngModel)]="filters.especie" name="especie">
                      </div>
                      <div class="col-md-4">
                        <label for="input3" class="form-label">Filtro por Status de Conservação</label>
                        <input type="text" class="form-control" id="input3" [(ngModel)]="filters.statusConservacao" name="statusConservacao">
                      </div>
                      <div class="col-md-4">
                        <label for="input4" class="form-label">Filtro por Temperatura da Água</label>
                        <input type="text" class="form-control" id="input4" [(ngModel)]="filters.temperaturaAgua" name="temperaturaAgua">
                      </div>
                      <div class="col-md-4">
                        <label for="input5" class="form-label">Filtro por pH</label>
                        <input type="text" class="form-control" id="input5" [(ngModel)]="filters.ph" name="ph">
                      </div>
                      <div class="col-md-4">
                        <label for="input6" class="form-label">Filtro por Níveis de Poluição</label>
                        <input type="text" class="form-control" id="input6" [(ngModel)]="filters.nivelPoluicao" name="nivelPoluicao">
                      </div>
                      <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary mt-3">Buscar</button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="row mt-4">
      <div class="col-12 bg-dark text-white">
          <h4>Data Table</h4>
          <table class="table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">Região</th>
                <th scope="col">Temperatura da Água</th>
                <th scope="col">pH</th>
                <th scope="col">Nível de Poluição</th>
                <th scope="col">Espécies</th>
                <th scope="col">Projetos de Conservação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of oceanData">
                <td>{{ item.regiao }}</td>
                <td>{{ item.temperaturaAgua }}</td>
                <td>{{ item.pH }}</td>
                <td>{{ item.nivelPoluicao }}</td>
                <td>
                  <ng-container *ngIf="item.especies">
                    <span *ngFor="let especie of item.especies; let isLast = last">
                      {{ especie?.nome }}{{!isLast ? ', ' : ''}}
                    </span>
                  </ng-container>
                </td>
                <td>
                  <ul>
                    <li *ngFor="let projeto of item.projetosConservacao">
                      {{ projeto?.nomeProjeto }} ({{ projeto?.tipoProjeto }})
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination-controls just">
            <button (click)="loadPage(page - 1)" [disabled]="page <= 1">Anterior</button>
            <span>Página {{ page }} de {{ totalPages }}</span>
            <button (click)="loadPage(page + 1)" [disabled]="page >= totalPages">Próximo</button>
          </div>
      </div>
  </div>
</div>
